body,html{
	width:100%;
	height:100%;
}

body{
	margin:0;
	padding:0;
    background-color:#ffe6e6; 
}
.bubbels{
	position: absolute;
	width:100%;
	height: 100%;
	z-index:0;
	overflow: hidden;
	top:0;
	left:0;
}
.bubble{
	position: absolute;
	bottom: 0;
	background: #9b59b6;
	border-radius: 50%;
	opacity:0.5;
	animation:flying 10s infinite ease-in; 
}
.bubble:nth-child(1)
{
	width:40px;
	height:40px;
	left:10%;
	animation-direction: 8s;
}

.bubble:nth-child(2)
{
	width:20px;
	height:20px;
	left:20%;
	animation-direction: 5s;
	animation-delay:1s;
}
.bubble:nth-child(3)
{
	width:50px;
	height:50px;
	left:35%;
	animation-direction: 10s;
	animation-delay:2s;
}
.bubble:nth-child(4)
{
	width:80px;
	height:80px;
	left:50%;
	animation-direction: 7s;
	animation-delay:3s;
}
.bubble:nth-child(5)
{
	width:60px;
	height:60px;
	left:70%;
	animation-direction: 1s;
	animation-delay:3s;
}
.bubble:nth-child(6)
{
	width:60px;
	height:60px;
	left:70%;
	animation-direction: 1s;
	animation-delay:0s;
}
.bubble:nth-child(7)
{
	width:40px;
	height:40px;
	left:10%;
	animation-direction: 0s;
}
@keyframes flying
{
	0%{
		bottom:-100px;
		tranform:translateX(0);
	}
	50%{
transform: translateX(100px);
	}
	100%{
		bottom: 1080px;
		transform: translateX(-200px);
	}
}
.p1
{
	color: #ff6666;
	font-size: 60px;
	text-align: center;
	animation-iteration-count: infinite;
	 
}
.p2
{
	color: 	#0080ff;
 	font-size: 20px;
	text-align: center;
	animation-iteration-count: 5;
}
.container
{
	align-content: center;
}
img
{
width: 45%;
float:left;
margin:1.66%;
transition: 1s;
animation-iteration-count: 4;
}
.nav {
    background-color: #F5F5F5;
}